.list_guids {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 24px;
}
.list_guids li:hover {
  cursor: pointer;
  color: #aacae7;
}
.guids_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.guids_create_block {
  width: 445px;
  height: 686px;
  border-radius: 60px;
  box-shadow: 0 0 10px 5px rgba(11, 25, 87, 0.5);
  padding: 23px 30px;
  display: flex;
  justify-content: center;
}
.textarea_form {
  min-width: 400px;
  min-height: 100px;
  max-width: 400px;
  max-height: 100px;
  border-radius: 30px;
  padding: 25px;
}
.textarea_form::placeholder {
  color: #0b1957;
  font-size: 18px;
}

.guids_create {
  display: flex;
  flex-direction: column;
  gap: 38px;
  align-items: center;
}
.guids_create h2 {
  font-size: 40px;
  font-family: "Comfortaa", sans-serif;
  text-align: center;
}
.guids_create div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.button_admin_pages {
  width: 300px;
  height: 60px;
  background-color: #aacae7;
  border-radius: 60px;
  color: white;
  font-size: 18px;
}
/*Страница конкретного гида*/
.guids_update_block {
  width: 445px;
  height: 370px;
  border-radius: 30px;
  box-shadow: 0 0 10px 5px rgba(11, 25, 87, 0.5);
  padding: 23px 30px;
  display: flex;
  justify-content: center;
}
.card_guid {
  width: 645px;
  box-shadow: 0 0 10px 5px rgba(11, 25, 87, 0.5);
  border-radius: 30px;
  padding:30px 25px ;
}
.card_guid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card_guid img {
  height: 310px;
  width: 250px;
  border-radius: 60px;

}
.card_guid_text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 300px;
}
.card_guid_text h3 {
  font-size: 40px;
  font-family: "Comfortaa", sans-serif;
}
.card_guid_text p {
  font-size: 18px;
}
.delete_button{
  color: white;
  height: 60px;
  width: 200px;
  border-radius: 60px;
  background-color: #AACAE7;
  font-size: 18px;
  margin-top: 15px;
}
.card_guid_content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.guid_content{
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.guid_content_about{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.guid_content_tours{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.guid_content_tours h3{
  font-size: 40px;
  font-family: "Comfortaa", sans-serif;
}
.guid_content_tours li{
  font-size: 18px;
}