.list_regions{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 24px;
}
.list_regions button{
    background-color: #AACAE7;
    width: 150px;
    height: 40px;
    color: white;
    border-radius: 30px;
    font-size: 18px;
}

.regions_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.regions_create_block{
    width: 445px;
    height: 376px;
    border-radius: 60px;
    box-shadow: 0 0 10px 5px rgba(11, 25, 87, 0.5);
    padding: 23px 30px;
    display: flex;
    justify-content: center;
}
.regions_create{
    display: flex;
    flex-direction: column;
    gap: 38px;
    align-items: center;
}
.regions_create h2{
    font-size: 40px;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
}
.regions_create div{
    display: flex;
    flex-direction: column;
    gap: 15px;
}